[data-theme="dark"] .button {
  border-color: #415057;
  background-color: #415057;
  color: #e4e8ec;
}

[data-theme="light"] .button {
  border-color: #e4e8ec;
  background-color: #e4e8ec;
  color: #415057;
}

.button {
  border-radius: 3px;
  font-size: 0.8em;
  line-height: 1.5em;
}