@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.Spinner:before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-bottom: -8px;
  border-radius: 50%;
  border-right: 3px solid transparent;
  animation: spinner 0.8s linear infinite;
  border-top: 3px solid gray;
}
