[data-theme="light"] .content {
  background-color: #415057;
  color: #e4e8ec;
}

[data-theme="dark"] .content {
  background-color: #e4e8ec;
  color: #415057;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  position: relative;
  background-color: #deeef7;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.button-container {
  text-align: right;
  margin-top: 15px;
}