body {
  background-color: #415057;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.loading-app {
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: normal;
}

.toggle {
  position: fixed;
  right: 5px;
  bottom: 15px;
}

[data-theme="dark"] {
  background-color: #415057;
  color: #e4e8ec;
}

[data-theme="light"] {
  background-color: #e4e8ec;
  color: #415057;
  transition: 0.4s;
}