[data-theme="light"] .card {
  background-color: #415057;
  color: #e4e8ec;
}

[data-theme="dark"] .card {
  background-color: #e4e8ec;
  color: #415057;
}

.card {
  flex-wrap: wrap;
  padding: 10px;
  flex-basis: 30%;
  margin-bottom: 20px;
  border-radius: 3px;
}