.card {
  text-align: center;
}

.avatar {
  height: 50px;
  width: 50px;
  margin: 10px 0;
}

.contact {
  font-size: 0.75em;
}

.text {
  
}

.send-kudos {
  text-align: center;
  margin-top: 20px;
}