.card {
  position: relative;
}

.avatar {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
}

.contact {
  font-size: 0.75em;
}

.title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8em;
}

.send-kudos {
  text-align: center;
  margin-top: 20px;
}